/* Apply general styling to the textareas */


/* Create a container to hold the textareas */
.body { 
    font-family: Arial, sans-serif;
    background-color: #909094;
    margin: 0;
    padding: 0;
}
.textarea-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.textarea-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.textarea-container label {
    margin-bottom: 10px;
    font-weight: bold;
}

.CodeMirror{
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 700;
    background-color: #f9f9f9;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.sidebar {
    width: 100%;
    border-right: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px;
}

.sidebar > p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 10px;
    font-weight: bold;
}

.sidebar > div {
    display: flex;  
    justify-content: flex-start; /* Changed from space-between to flex-start */
    align-items: center;
    background-color: #1F2937;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 8px;
}


.radio-schemas {
    display: none; /* Hide the default radio button */
}

.radio-label {
    position: relative;
    padding-left: 30px; /* Adjust the space for the custom radio button */
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.radio-label:hover {
    color: #6366f1;
}

.radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: #000;
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.radio-schemas:checked + .radio-label::before {
    background-color: #ffffff;
}

.radio-schemas:checked + .radio-label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
}


.delete-button {
    margin-left: auto; /* Add space between the Use and Delete buttons */
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}



.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.actions button:hover {
    background-color: #0056b3;
}

.schema-list {
    list-style: none;
    padding: 0;
}
.schema-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.schema-list li:hover {
    background-color: #3b393900;
}