/* Apply general styling to the textareas */


/* Create a container to hold the textareas */
.textarea-container {
    display: flex; /* Use flexbox to arrange items side by side */
    gap: 20px; /* Add spacing between textareas */
}

.CodeMirror-sizer {
    font-family: monospace;
    height: 300px;
    direction: ltr;
    width: 100%;
}
