
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script type="module" src="{% static 'auth.js' %}"></script>


    <!-- Using favicons for website -->
    <link rel="shortcut icon" href="/media/resources/favicon.ico">
    <link rel="icon" sizes="32x32" href="/media/resources/favicon.ico">
    <link rel="icon" sizes="16x16" href="/media/resources/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/resources/favicon.ico">
    

    

    <title>Forgot Password</title>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="container max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg">
        <div class="login-image flex justify-center items-center mb-6">
            <img src="/media/resources/logo.png" alt="" height="120px" width="120px">
        </div>
        <form action="/jsonschema/forgot_password/" method="post">
            {% csrf_token %}
            <div class="field-container flex flex-col gap-4">
                <div class="password flex flex-col">
                    <label for="password" class="mb-2 font-semibold">New Password:</label>
                    <input type="password" name="password" id="password" class="border border-gray-300 p-2 rounded-lg peer">
                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&_])[A-Za-z\d@$!%*?&_]{8,}$">
                        Please enter a strong password
                    </span>
                </div>
                <div class="password flex flex-col">
                    <label for="confirm_password" class="mb-2 font-semibold">Confirm Password:</label>
                    <input type="password" name="confirm_password" id="confirm_password" class="border border-gray-300 p-2 rounded-lg" onchange="validatePasswords()">
                    <span class = "mt-2 hidden text-sm text-red-500" id="password-validation">
                        Password and confirm should be same
                    </span>
                </div>
            </div>
            <div class="flex justify-center mt-6">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg" onclick="otpVerification()">VERIFY</button>
            </div>
        </form>
    </div>
</body>
</html>
