

{% extends 'editor/base.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>

<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Codemirror -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/dracula.min.css">
   
    <!-- Include linting addons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/lint.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/lint.min.css">


    <!-- Dependency for JSON Linting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/json-lint.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- other addons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/matchbrackets.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/closebrackets.min.js"></script>
    
    <script  src="{% static 'editorsetup.js' %}"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Index</title>
</head>
<body>
    
        <div class="container">    
            <div class="textarea-container">
                <div >
                    <label for="schema">Schema Definition</label>
                    <textarea class="CodeMirror-sizer" id="schema" placeholder="Textarea 1" rows="4", cols="10" onchange="validate()" ></textarea>
                </div>
                <div>
                    <label for="user-input">JSON Input</label>
                    <textarea class="CodeMirror-sizer" id="user-input" placeholder="Textarea 2" rows="4" cols="10" onchange="validate()"></textarea>
                </div>
            </div>
    
            <div class="actions">
                <button id="save" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded my-5">Save</button>
            </div>
            <div class="sidebar">
                <p>SAVED SCHEMAS</p>
                <div>
                    <input type="radio" class="radio-schemas" id="schema1" name="schema-selection" value="schema1">
                    <label for="schema1" class="radio-label">SCHEMA 1</label>
                    <button class="delete-button font-bold">DELETE</button>
                </div>
            </div>
            
        </div>
        {% endblock %}
</body>
</html>