
/__pycache__/
/editor/migrations/
/media/
!/media/resources/
../dump.rdb
*.env
/LogFiles/
/staticfiles/
/JsonSchema/__pycache__/
/editor/__pycache__/
JsonSchema/editor/__pycache__/
JsonSchema/dump.rdb